
<!DOCTYPE html>
<html>
  <head>
    <title>Mi perfil</title>
   <!-- HEAD
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	    <!-- Custom fonts for this template -->
	    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/ css">
	    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <!--<link href="css/grayscale.min.css" rel="stylesheet">-->
<br><br><br><br>    <nav class="navbar navbar-default">

  </head>

  <body>
<br>
<!--<form action="/users" class="new_user" id="new_user" method="post"> -->
<form accept-charset="UTF-8" action="/users" class="new_user"
      id="show_user" method="get">
	<div id="main-container" class="container">
	      <div class="row">
		<div class="col-xs-21">
		   <%= render 'shared/navigation' %>
		</div>
	<!--        <div class="col-xs-21"> -->
		<div class="col-xs-offset-5 col-xs-11">
		  <h3>Mi perfil</h3>
		</div>
	<table>
	   <tr>
	        <td><img src="rock.jpg"></td>
	   <tr>
	<tr>
		<td><p id="notice"><%= notice %></p><td>
		<p>
		  <strong>Name:</strong>
		  <%= @user.name %>
		</p>

		<p>
		  <strong>Last name:</strong>
		  <%= @user.last_name %>
		</p>

		<p>
		  <strong>Email:</strong>
		  <%= @user.email %>
		</p>

		<p>
		  <strong>Phone:</strong>
		  <%= @user.phone %>
		</p>
<br><br>
		<p>
		  <a href="/startup/agregar_propiedad"><span class="glyphicon glyphicon-plus" style="color:#000000" style="font-family:arial"> Agregar propiedad</span></a>		  
		</p>

	</tr>
	</table>



   </form>
</body>

