<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @property.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @property.number %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<p>
  <strong>Type:</strong>
  <%= @property.type %>
</p>

<p>
  <strong>Share:</strong>
  <%= @property.share %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @property.rooms %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Electricity:</strong>
  <%= @property.electricity %>
</p>

<p>
  <strong>Water:</strong>
  <%= @property.water %>
</p>

<p>
  <strong>Gas:</strong>
  <%= @property.gas %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @property.internet %>
</p>

<p>
  <strong>Cable:</strong>
  <%= @property.cable %>
</p>

<p>
  <strong>Kitchen:</strong>
  <%= @property.kitchen %>
</p>

<p>
  <strong>Parking space:</strong>
  <%= @property.parking_space %>
</p>

<p>
  <strong>Furnished:</strong>
  <%= @property.furnished %>
</p>

<p>
  <strong>Security:</strong>
  <%= @property.security %>
</p>

<p>
  <strong>Balcony:</strong>
  <%= @property.balcony %>
</p>

<p>
  <strong>Ramps:</strong>
  <%= @property.ramps %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @property.pets %>
</p>

<p>
  <strong>Parties:</strong>
  <%= @property.parties %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @property.comment %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
